
#tag{
    font-family: 'Pacifico', cursive;
    display: block;
    width: 120px;
    color: rgb(239, 229, 229);
    position: relative;
    top: 200px;
    left: 600px;

}
h1{
    font-size: 40px;
}
.hi{
 color: rgb(239, 229, 229);
 font-family: 'Pacifico', cursive;
 top: 200px;
 left: 750px;
 position: absolute;
}
video{
    top: 320px;
    left: 400px;
    position: absolute;
    border: none;

}
body{
    background-color: black;
}
.sidebar li {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 5px;
    cursor: pointer;
    color: #1f1a1a;
    transition: 0.2s;
    position: relative;
    font-weight: 500; 
    font-size: 1.096rem;
    font-family: 'Times New Roman', Times, serif;
}
#side{
    height: 900px;
    border-right: 1px solid ;
    width: 170px;
    /* background-color: rgba(177, 150, 181, 0.643); */
    background-color: rgba(168, 166, 168, 0.794);
    position: fixed;
    top: 10px;
}
.fa-house{
    font-size: 1.5rem;
    top: 33px;
    position: fixed;
}
.fa-envelope{
    font-size: 1.5rem;
    top:254px;
    position: fixed;
}
.fa-user-group{
    font-size: 1.5rem;
    top: 170px;
    position: fixed;
}
.fa-bookmark{
    font-size: 1.5rem;
    top: 215px;
    position: fixed;
}
.fa-gear{
    font-size: 1.5rem;
    top: 300px;
    position: fixed;
}
.fa-cubes{
    font-size: 1.5rem;
    top: 80px;
    position: fixed;
}
.fa-shapes{
    font-size: 1.5rem;
    top: 125px;
    position: fixed;
}
.hel {
  position: absolute;
  font-size: 20px;
  background-color: #0077b6;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100px;
  margin-left: 1300px;
  margin-top: 20px;
  top: 20px;
  left: 60px;
}

.hel:hover {
  background-color: #0096c7;
}
p{
    color: #8f43c6d6;
    top: 280px;
    position: absolute;
    left: 450px;
    font-size: 30px;
    width: 800px;
    font-weight: bold;
}
input{
    background-color: white;

}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 60%;
  max-width: 600px;
  background-color: #000000;
  border-radius: 30px;
  padding: 5px 15px;
  box-shadow: 0 0 8px rgba(96, 93, 93, 0.15);
  margin-top: 680px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #20202053;
  color: rgba(255, 255, 255, 0.4);
}
.search-bar button {
  border: none;
  background: #0077b6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.search-bar button:hover {
  background: #0096c7;
}
a {
    text-decoration: none;   
    color: inherit;          
}
.sidebar li:hover{
    background: linear-gradient(45deg,
    #347f96,
    #242c89);
    font-size: 20px;
    border-radius: 5px;
}
